@model bwarrickBugTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="KingAdmin Dashboard">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Assets/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/theme/assets/css/main.css" rel="stylesheet" />
    <link href="~/Assets/theme/assets/css/skins/teal.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Julius+Sans+One|Poiret+One|Sanchez" rel="stylesheet">
    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Fav and touch icons -->
</head>
<body style="background-image: url('../../Assets/theme/assets/img/white poly.jpg');">
    <div class="wrapper full-page-wrapper page-auth page-register text-center">
        <div class="inner-page">
            <div class="register-box center-block"style="font-family:'Josefin Sans', sans-serif;">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <p class="title" style="text-align:center; font-family:'Josefin Sans', sans-serif; font-size:24px;">Register a New Account</p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TimeZone, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("TimeZone", null, new { @class = "searchable-select" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-right:45px;">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-lg btn-block btn-auth"style="background-color:teal; color:white; text-align:center;font-family:'Josefin Sans', sans-serif;" type="submit"><i class="fa fa-check-circle"></i>Create Account</button>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>    
    <!-- Javascript -->
    <script src="~/Assets/theme/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Assets/theme/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/Assets/theme/assets/js/plugins/modernizr/modernizr.js"></script>
</body>
<div class="footer">&copy; BWarrick 2017</div>
</html>