@model bwarrickBugTracker.Models.Helpers.ProjectUserViewModels

@{
    ViewBag.Title = "EditProjectUsers";
}

<h2><b>Edit Project Users|</b> @Model.Project.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Project.Id)
    <p>
        <button class="btn btn-default" style="color:white;">@Html.ActionLink("Back to Admin Index", "Index", "Admin", null, new { @style = "text-decoration:none; color:white" })</button>
    </p>
    <br />
    @Html.ListBox("SelectedUsers", Model.Users, new { @class = "multi-select"})
    <br />
    <p style="text-align:center">
        <button class="btn btn-default btn-lg" style="color:white;" type="submit">Submit</button>
    </p>
}

@section Scripts{
    <script type="text/javascript" src="~/Assets/MultiSelect/multi-select.js"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            $('.multi-select').multiSelect({
                selectableHeader: "<div style='text-align:center; background-color: #084951; color:white;'><strong>Available Users</strong></div>",
                selectionHeader: "<div style='text-align:center; background-color: #084951; color:white;'><strong>Current Users</strong></div>"
            });

            $(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
        });

    </script>

    }



@*@using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post))
{
    <h4>
        @Html.DisplayFor(model => model.User.FullName)
    <input type="submit" value="Assign Roles" class="btn btn-default" style="margin-top:-7px;" />
</h4>
    <hr />
    @Html.HiddenFor((model => model.User.Id))
    @Html.ListBox("SelectedRoles", Model.Roles, new { @class = "multi-select" })
}

<div style="margin-top:40px;">
    @Html.ActionLink("Back to Admin Index", "Index")
</div>
@section Scripts{
    <script type="text/javascript" src="~/Assets/MultiSelect/multi-select.js"></script>
    <script type="text/javascript">
            $(function () {
                "use strict";
                $('.multi-select').multiSelect({
                    selectableHeader: "<div style='text-align:center; background-color: black; color:white;'><strong>Available Roles</strong></div>",
                    selectionHeader: "<div style='text-align:center; background-color: black; color:white;'><strong>User Roles</strong></div>"
                });

                $(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
            });

    </script>
}*@



