@model IEnumerable<bwarrickBugTracker.Models.CodeFirst.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects Index</h2>
<!-- FEATURED DATA TABLE -->
<div class="widget widget-table">
    <div class="widget-header" style="background-color:#084951">
        <h3><i class="fa fa-table"></i><b>Projects:</b> 
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
            @Html.ActionLink("View All Projects | ", "AllProjects", "Projects", null, new { @style="color:white; text-decoration:none;"})
            <button class="btn btn-default btn-sm">@Html.ActionLink("Create New", "Create", "Projects", null, new { @style = "color:white; text-decoration:none;" })</button>
        }</h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created.LocalDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            @foreach (var user in item.Users)
                             {
                                @user.FullName <br />
                             }
                        </td>

                        @*<td>
                                @Html.DisplayFor(modelItem => item.AuthorId)
                            </td>*@
                        <td>

                            <button style="background-color:gray;" class="btn btn-sm">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @style = "color:white; text-decoration:none;" })</button>
                            <p></p>
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <button style="background-color:gray;" class="btn btn-sm">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = "color:white; text-decoration:none;" })</button>
                                <p></p>
                                <button style="background-color:gray;" class="btn btn-sm">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = "color:white; text-decoration:none;" })</button>
                                <p></p>
                                <button style="background-color:gray;" class="btn btn-sm">@Html.ActionLink("Edit Project Users", "EditProjectUsers", "Projects", new { id = item.Id }, new { @style = "color:white; text-decoration:none;" })</button>
                                <p></p>
                             }
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<!-- END FEATURED DATA TABLE -->
